{% extends 'base.html.twig' %}


{% block body %}

    {% block title %}{{ event.name }}{% endblock %}

    <h1>{{ event.name }}</h1>
    <p>{{ event.supplier }}</p>
    <hr>
    <a href="/event">Go Back</a>
{% endblock %}
