{% extends 'base.html.twig' %}

{% block title %}New Lobby{% endblock %}

{% block back %}

    <h1>Create new Lobby</h1>

    {{ include('lobby/_form.html.twig') }}

    <a href="{{ path('lobby_index') }}">Go back</a>
{% endblock %}
