{% extends 'base.html.twig' %}

{% block title %} Mot de passe oublié - Etape 2 {% endblock %}

{% block body %}

    <main class="container mt-3">

        <h1 class="text-center">Mot de passe oublié - Etape 2</h1>
        {{ form_start(forgotPasswordFormStep2) }}

        <div class="row mt-5">
            <div class="col-md-6">
                {{ form_row(forgotPasswordFormStep2.newPassword) }}
            </div>
            <div class="col-md-6">
                {{ form_label(forgotPasswordFormStep2.confirmPassword) }}
            </div>
        </div>
        <div class="mt-3">
            <button type="submit" class="btn btn-primary d-block mx-auto" title="Saisissez deux fois votre adresse e-mail pour recevoir un lien de récupération">Envoyez-moi un lien de récupération</button>
        </div>
        {{ form_end(forgotPasswordFormStep2) }}
    </main>

{% endblock %}