<!-- Footer -->
<footer class="bg-light">
    <div class="text-center p-3 container" style="background-color: white">
        © 2020 Copyright:
        <a class="text-dark" href="{{ path('homepage') }}">Symbiose Team</a>
        <section >
            <!-- Facebook -->
            <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-facebook-f"></i
                ></a>

            <!-- Linkedin -->
            <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-linkedin-in"></i
                ></a>

            <!-- Github -->
            <a class="btn btn-outline-dark btn-floating m-1" href="https://github.com/SkanderThabet/Symbiose" role="button"
            ><i class="fab fa-github"></i
                ></a>
        </section>
    </div>
</footer>
<!-- Footer -->