


{% block  body %}
<p>Si vous êtes sûr de vouloir effectuer une réservation,

    veuillez procéder au paiement en ligne.</p>

    <p>Annulez toute réservation 3 jours , avant votre rendez-vous,

    une pénalité de 30% vous sera facturée,

    sinon aucun remboursement ne sera effectué.</p>
    <table  id = " new "  class = "table table-striped">
     <thead>
        <tr>
          <th> Terrain </th>
            <th> Terrain </th>
            <th> Terrain </th>
            <th> Terrain </th>
        </tr>
     </thead>
    <tbody>
    {% if testee%}
        {% for test in testee %}
            <tr>
               <td> {{ test.id }} </td>
                <th> {{ test.name }} </th>
                <th> {{ test.address }} </th>
                <th> {{ test.provider }} </th>

            </tr>

        {% endfor %}
    </tbody>
    {% else %}
gdg
    {% endif %}

{% endblock %}