


{% block  body %}

    <table  id = " new "  class = "table table-striped">
     <thead>
        <tr>
          <th> Terrain </th>
            <th> Terrain </th>
            <th> Terrain </th>
            <th> Terrain </th>
        </tr>
     </thead>
    <tbody>
    {% if testee%}
        {% for test in testee %}
            <tr>
               <td> {{ test.id }} </td>
                <th> {{ test.name }} </th>
                <th> {{ test.address }} </th>
                <th> {{ test.provider }} </th>

            </tr>

        {% endfor %}
    </tbody>
    {% else %}
gdg
    {% endif %}

{% endblock %}