{% extends 'Communication/base.html.twig' %}

{% block title %}Edit Conversation{% endblock %}

{% block body %}
    <h1>Edit Conversation</h1>

    {{ include('Communication/conversation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('conversation_index') }}">back to list</a>

    {{ include('Communication/conversation/_delete_form.html.twig') }}
{% endblock %}
