{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="container p-3 my-3">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ game.name }}</h5>
                {{  game.time|date("d/m/Y") }}
                <button type="button" class="btn btn-primary">Button</button>
            </div>
        </div>
        <h1>{{ game.name }}</h1>
        <p>{{  game.time|date("d/m/Y") }}</p>
        <hr>
        <a href="/game" class="btn btn-dark">Go Back</a>
    </div>


{% endblock %}
