{% extends 'front.html.twig'  %}

{% block head %}
    {% block title %}Login!{% endblock %}

{% endblock %}


{% block body %}

    <!--Main Navigation-->
    <header>
        <!-- Intro settings -->
        <style>
            /* Default height for small devices */
            #intro {
                height: 600px;
                /* Margin to fix overlapping fixed navbar */
                margin-top: 58px;
            }
            @media (max-width: 991px) {
                #intro {
                    /* Margin to fix overlapping fixed navbar */
                    margin-top: 45px;
                }
            }
        </style>





    <!--Footer-->
    <footer class="bg-light text-lg-start">


        <hr class="m-0" />

        <div class="text-center py-4 align-items-center">
            <p>Follow Us on social media</p>
            <a href="https://www.youtube.com/channel/UC5CF7mLQZhvx8O5GODZAhdA" class="btn btn-primary m-1" role="button"
               rel="nofollow" target="_blank">
                <i class="fab fa-youtube"></i>
            </a>
            <a href="https://www.facebook.com/mdbootstrap" class="btn btn-primary m-1" role="button" rel="nofollow"
               target="_blank">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://twitter.com/MDBootstrap" class="btn btn-primary m-1" role="button" rel="nofollow"
               target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://github.com/mdbootstrap/mdb-ui-kit" class="btn btn-primary m-1" role="button" rel="nofollow"
               target="_blank">
                <i class="fab fa-github"></i>
            </a>
        </div>

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2020 Copyright:
            <a class="text-dark" href="https://mdbootstrap.com/">Barmej.tn</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!--Footer-->


{% endblock %}
