{% extends 'base.html.twig' %}

{% block title %}Modification du profile utilisateur{% endblock %}

{% block body %}

    <div class="container">
        <h1>Modification du profile</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary mt-3">Enregistrer les modifications</button>
        <a class="btn btn-dark" href={{ path('homepage') }}>Retour</a>
        {{ form_end(form) }}
    </div>


{% endblock %}
