{% extends 'base.html.twig' %}
{% block title%} List des terrain {% endblock %}

{% block  body %}
    <form  action="{{ path('addterain') }}" class="container p-3" >

        <button class="btn btn-dark">ADD</button>

    </form>
    {% if  terain %}
<table  id = " terrain "  class = " table table-striped ">
    <thead>
    <tr>
        <th> Terrain </th>
        <th> Supprimer </th>

    </tr>
    </thead>
    <tbody>
    {% for   field in  terain %}
    <tr>
        <td> {{ field.name }} </td>
        <td> <form action="{{ path('supprime',{ 'id':field.id }) }}">

                <button class="btn btn-dark">supprimer</button>
            </form>
        </td>
    </tr>

    {% endfor %}
    </tbody>
</table>
    {% endif %}
{% endblock %}