{% extends 'base.html.twig' %}
{% block title%} List des terrain {% endblock %}

{% block  body %}




         <p>
        Votre terrain est toujours disponible pour un usage administratif !
         </p>
    <form action="{{ path('provider') }}">

        <button class="btn btn-dark">go_back</button>


    </form>

{% endblock %}