{% extends 'base.html.twig' %}

{% block title %}Edit product!{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <a href="/products" class="btn btn-primary mt-3">Cancel</a>
{% endblock %}
