{#{% extends 'base.html.twig' %}#}

{#{% block title %}Hello ProductController!{% endblock %}#}

{#{% block body %}#}
{#    {% if products %}#}
{#        <table class="table table-stripped">#}
{#            <thead>#}
{#            <tr>#}
{#                <th>Product Title</th>#}
{#                <th>Actions</th>#}
{#            </tr>#}
{#            </thead>#}
{#            <tbody>#}
{#            {%  for product in products %}#}
{#                <tr>#}
{#                    <td>{{ product.name }}</td>#}
{#                    <td>#}
{#                        <a href="/product/{{ product.id }}" class="btn btn-dark">Show</a>#}
{#                    </td>#}
{#                </tr>#}
{#            {% endfor %}#}
{#            </tbody>#}
{#        </table>#}
{#    {% else %}#}
{#        <p>No products available</p>#}
{#    {% endif %}#}
{#{% endblock %}#}
