{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
    <h1>{{ product.name }}</h1>
    <p>{{ product.type }}</p>
    <hr>
    <a href="/products">Go back</a>
{% endblock %}
