{% extends 'base.html.twig' %}
{% block body %}
    <div class="input-group">
        <div class="form-outline">
            <input type="search" id="form1" class="form-control" />
            <label class="form-label" for="form1">Search</label>
        </div>
        <button type="button" class="btn btn-primary">
            <i class="fas fa-search"></i>
        </button>
    </div>

    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
            Cras justo odio
        </a>
        <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
        <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
        <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
        <a
                href="#"
                class="list-group-item list-group-item-action disabled"
                tabindex="-1"
                aria-disabled="true"
        >Vestibulum at eros</a
        >
    </div>
{% endblock %}