{% extends 'base.html.twig' %}
{% block body %}
    <button type="button" class="btn btn-primary">claiming</button>
    <button type="button" class="btn btn-primary">showFriendsList</button>


    <div class="d-flex flex-column mb-3">
        <div class="p-2">product1</div>
        <p>
            image product 1:<br />
            <img src="images/montagne.jpg" alt="field1" />
        </p>
        <div class="p-2">product2</div>
        <p>
            image product 2:<br />
            <img src="images/montagne.jpg" alt="field2" />
        </p>
        <div class="p-2">product3</div>
        <p>
            image product 3 :<br />
            <img src="images/montagne.jpg" alt="field3" />
        </p>
    </div>


{% endblock %}