{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="form-outline">
        <input type="number" id="typeNumber" class="form-control" />
        <label class="form-label" for="typeNumber">Number input</label>
    </div>


    <div class="form-outline">
        <input type="email" id="typeEmail" class="form-control" />
        <label class="form-label" for="typeEmail">Email input</label>
    </div>


    <div class="form-outline">
        <input type="password" id="typePassword" class="form-control" />
        <label class="form-label" for="typePassword">Password input</label>
    </div>
{% endblock %}
