{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div>
                <div class="card text-center">
                    <p>Forgot to add something to your cart? Shop around then come back to pay!</p>
                <a href="{{ path('event_list') }}">Go Back</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}