{% extends 'base.html.twig' %}

{% block title %}New Party{% endblock %}

{% block body %}
    <h1>Create new Party</h1>

    {{ include('party/_form.html.twig') }}

    <a href="{{ path('party_index') }}">back to list</a>
{% endblock %}
