{% extends 'base.html.twig' %}
{% block title%} List des terrain {% endblock %}

{% block  body %}
    <p>
        Paiement réussi !
    </p>
    <form action="{{ path('ret') }}">

        <button class="btn btn-dark">go_back</button>

    </form>
{% endblock %}