{% extends 'base.html.twig' %}
{% block title%} List des terrain {% endblock %}

{% block  body %}
{% if  terrain %}
    <table  id = " terrain "  class = " table table-striped ">
      <thead>
        <tr>
            <th> Terrain </th>
            <th> Detail  </th>
            <th> Reserver  </th>

        </tr>
      </thead>
      <tbody>
        {% for   field in  terrain %}
          <tr>
            <td> {{field.name}} </td>
            <td>
                <form action="{{ path('detail',{'id':field.id}) }}">

                <button class="btn btn-light">Detail</button>
                </form>


            </td>

              <td>
                  <form action="{{ path('paillement',{'id':field.id}) }}">

                  <button class="btn btn-dark">Réserver</button>
                  </form>


              </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p> Audun field </p>
  {% endif %}
{% endblock %}