{% extends 'base.html.twig' %}
{% block title%} List des terrain {% endblock %}

{% block  body %}
{% if  terrain %}
    <table  id = " terrain "  class = " table table-striped ">
      <thead>
        <tr>
          <th> fields </th>
          <th> details </th>
        </tr>
      </thead>
      <tbody>
        {% for   field in  terrain %}
          <tr>
            <td> {{ field.name }} </td>
            <td>
                <form action="{{ path('detail',{ 'id':field.id }) }}">

                <button>detail</button>
                </form>


            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p> Audun field </p>
  {% endif %}
{% endblock %}