# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\ACER\Dropbox\Mon PC (LAPTOP-ADGJLJJA)\Desktop\pidev\Symbiose\Symbiose\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
