{% extends 'base.html.twig' %}

{% block body %}
<!--Main Navigation-->

<!--Main layout-->
<main class="my-5">
    <div class="container">
        <!--Section: Content-->
        <section class="text-center">
            <h1 class="mb-5"><strong>Our Products</strong></h1>

            <div class="row">
                <div class="col-lg-6 mb-4">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="https://bloximages.newyork1.vip.townnews.com/nny360.com/content/tncms/assets/v3/editorial/e/2c/e2cff056-de43-527f-92d8-333ddce4b353/5f1f78991cb05.image.jpg?resize=959%2C630" class="img-fluid rounded" />
                            <a>
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Equipment</h5>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the
                                card's content.
                            </p>
                            <a href="equipment" class="btn btn-primary">Shop</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mb-4">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="https://media.istockphoto.com/photos/clothes-make-running-picture-id466367844?k=6&m=466367844&s=612x612&w=0&h=Z_jYAzkjc80Aab36Fx4dTxbcUVU_6bQXF64OWvjSbRM=" class="img-fluid rounded" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Clothing</h5>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the
                                card's content.
                            </p>
                            <a href="/clothing" class="btn btn-primary">Shop</a>
                        </div>
                    </div>
                </div>
            </div>


        <!--Section: Content-->


<!--Main layout-->

<!--Footer-->
<footer class="bg-light text-lg-start">


    <hr class="m-0" />

    <div class="text-center py-4 align-items-center">
        <p>Follow MDB on social media</p>
        <a href="https://www.youtube.com/channel/UC5CF7mLQZhvx8O5GODZAhdA" class="btn btn-primary m-1" role="button"
           rel="nofollow" target="_blank">
            <i class="fab fa-youtube"></i>
        </a>
        <a href="https://www.facebook.com/mdbootstrap" class="btn btn-primary m-1" role="button" rel="nofollow"
           target="_blank">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://twitter.com/MDBootstrap" class="btn btn-primary m-1" role="button" rel="nofollow"
           target="_blank">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="https://github.com/mdbootstrap/mdb-ui-kit" class="btn btn-primary m-1" role="button" rel="nofollow"
           target="_blank">
            <i class="fab fa-github"></i>
        </a>
    </div>

</footer>
<!--Footer-->
{% endblock %}