{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
    {% if products %}
        <table class="table table-stripped">
            <thead>

            <tr>
                <th>Product Title</th>
                <th>Description</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {%  for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description | nl2br }}</td>
                    <td>{{ product.formattedPrice }}</td>
                    <td>
                        <a href="{{ path('cart_add', {'id': product.id}) }}" class="btn btn-success"><i
                                    class="fas fa-shopping-cart mr-1"></i> Add to cart</a>
                        <a href="/rent" class="btn btn-dark">Rent</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No products available</p>
    {% endif %}
{% endblock %}
